
body {
    background-image: url('https://images.unsplash.com/photo-1510180610491-b3309e6c651b?q=80&w=2081&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; /* La imagen cubrirá toda la pantalla */
    background-position: center; /* La imagen estará centrada */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* La imagen permanece fija al hacer scroll */
    background-color: rgba(128, 66, 66, 0.829);
    background-blend-mode: overlay;
}

.light {
    width: 80px;
    height: 80px;
    background-color: grey;
    border-radius: 50%;
    margin: 10px 0;
    transition: background-color 0.3s;
}

.red {
    background-color: rgb(250, 160, 160);
}

.yellow {
    background-color: rgb(200, 204, 146);
}

.green {
    background-color: rgb(142, 197, 128);
}

/* Luces encendidas */
.red.selected {
    background-color: red;
    box-shadow: 0px 0px 16px 12px rgba(255, 238, 80, 0.575);
}

.yellow.selected {
    background-color: yellow;
    box-shadow: 0px 0px 16px 12px rgba(255, 238, 80, 0.575);
}

.green.selected {
    background-color: green;
    box-shadow: 0px 0px 16px 12px rgba(255, 238, 80, 0.575);
}

.card{
    width: 8rem;
    background-color: rgb(27, 27, 27);
}

.post{
    background-color: rgb(27, 27, 27);
    width: 2rem;
    height: 12rem;
}

.base{
    background-color: rgb(27, 27, 27);
    width: 10rem;
    height: 2rem;
    border-radius: 20%;
}

